*{
    margin:0;
    padding: 0; 
    box-sizing:border-box; 
}

body{
    background-color:rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
    font-size:15px;
    text-align:left;
    margin: 30px;
}

.input{
    padding-top: 5px;
    border-radius:6px;
    border:none;
    padding-left: 5px;
    background:linear-gradient(to bottom, #ffffff 5%, #def8fc 100%);
}

.selecoper{
    padding-top: 5px;
    border-radius:6px;
    border:none;
    padding-left: 5px;
    background:linear-gradient(to bottom, #ffffff 5%, #def8fc 100%);
}
    
.ejercicio{ 
    width:500px ;
    height: 320px; 
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #86b4c5 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    cursor:pointer;
    color:#fefefe;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    text-align: center;
    justify-content: center;
 }

 .ejercicio h4{
    font-style:italic;
    color: #f3d73a;
}

 #container{
    margin-top: 40px;
    color:#bafafb;
    font-style:oblique;
    font-weight: bold;
    font-size: 20px;
 }

 .button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}

.campos{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding: 10px;
}

.campos h6{
    font-size:15px;
    font-style:oblique;
}